body{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.divCalculadora {  
    background: rgba(0, 0, 0, 0.4);
    width: 400px;
    height: 550px;
}

html {
    width: 100%;
    height: 100%;
}

.hiddenDiv {
    display:none;
}

.visibleDiv {
    display: block;
}

.btn-hide {
    display: none;
}

.btn-visible {
    display: flex;
}